.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.vscode/
build/
coverage/
dist/
node_modules/
*.iml
*.jks
*.keystore
*.log
.env
.env.*
!.env.example
mobile_app/android/local.properties
mobile_app/android/app/debug
mobile_app/android/app/profile
mobile_app/android/app/release
mobile_app/lib/src/local_config.dart
